@font-face {
    font-family: "sf-arabic-bold";
    src: url("../assets/fonts/SFArabic-Bold.ttf");
}

@font-face {
    font-family: "sf-arabic-regular";
    src: url("../assets/fonts/SFArabic-Regular.ttf");
}

@font-face {
    font-family: "sf-arabic-medium";
    src: url("../assets/fonts/SFArabic-Medium.ttf");
}

@font-face {
    font-family: "graphik-arabic-light";
    src: url("../assets/fonts/Graphik-Arabic-Light.otf");
}

@font-face {
    font-family: "aviny";
    src: url("../assets/fonts/AVINY2-1.TTF");
}

@font-face {
    font-family: "lalezar";
    src: url("../assets/fonts/LALEZAR-REGULAR.TTF");
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    margin: 0%;
    /* background-color: #b700ff; */
    background-image: url("../assets/images/background.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-size: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* #b700ff */


/* Navigation bar *//*-----------------------------------------------*/
nav{
    background-color: #ffffffda;
    width: 98vw;
    height: fit-content;
    margin: 0%;
    margin-top: 0.5rem;
    padding: 0%;
    box-shadow: 0px 0rem 2rem 0px rgb(255, 255, 255);
    backdrop-filter: blur(0.5rem);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: end;

    position: fixed;
    top: 0.3rem;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 0%);
}

.nav-top{
    width: 100%;
    margin-right: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    width: 11rem;
    object-fit: contain;
}

.search-input-section{
    width: fit-content;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.relative-search-input-div{
    width: fit-content;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    position: relative;
}

.search-input{
    direction: rtl;
    font-family: "sf-arabic-bold";
    background-color: #ffffff57;
    color: #000000;
    width: 20rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    margin-left: 2rem;
    box-shadow: 0px 0px 1rem 0rem #ffffff88;
    transition-property: all, scale; /* 50ms; */
    transition-delay: 50ms, 400ms;
    
    /* border: 4px solid black; */
}

.search-input:focus{
    background-color: #ffffffb6;
    border: 0.19rem solid black;
    box-shadow: 0rem 0.1rem 1rem 0rem #ffffff;
}

.search-input:not(:placeholder-shown){
    border: 0.2rem solid black;
}

.search-input-label{
    color: #75757585;
    font-family: "sf-arabic-bold";
    font-size: 0.85rem;
    position: absolute;
    left: 17rem;
    top: 0.5rem;
    margin: 0%;
    padding: 0%;
    pointer-events: none;
    transition: 400ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.search-input:focus ~ .search-input-label,
.search-input:not(:placeholder-shown) ~ .search-input-label{
    left: 17rem;
    top: -1.0rem;
    color: #000000;
    filter: drop-shadow(0rem 0rem 2rem rgb(255, 255, 255));
    background-color: #ffffff;
    padding: 0rem 0.2rem 0.2rem 0.3rem;
    border-radius: 1rem;
    border: 0.2rem solid black;
    scale: 0.85;
    .search-icon-image{
        opacity: 2;
    }
    
}

.search-icon-image{
    height: 1rem;
    width: auto;
    opacity: 0.35;
}

.nav-bottom{
    height: fit-content;
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.nav-services{
    margin: 0rem 1rem 0rem 0rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.nav-buttons{
    font-family: "sf-arabic-regular";
    font-size: 1rem;
    /* font-weight: 600; */
    background-color: #ffffff00;
    color: #000000;
    text-decoration: none;
    border: none;
    /* margin: 0px 0.5rem; */
    padding: 0.3rem;
    border-radius: 0.75rem;
    box-shadow: 0px 0rem 0.3rem -10px black;
    transition: 200ms;
    transition: "padding" 1000ms;
    /* pointer-events: none; */
}

.three-line-icon{
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 0.3rem;
}

.categories-menu-button{
    font-family: "sf-arabic-bold";
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-buttons:hover{
    /* font-family: "sf-arabic-Medium"; */
    font-weight: 400;
    scale: 1.1;
    background-color: #ffffff8c;
    box-shadow: 0px 0.15rem 0.3rem -3px black;
    margin: 0rem 0rem;
}


.small-vertical-nav-buttons-line{
    background-color: #ff0000;
    height: 1.4rem;
    width: 0.10rem;
    margin: 0%;
    padding: 0%;
}

.account-section{
    margin: 0%;
    margin-left: 2rem;
    padding: 0%;
}

.nav-user-account-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-user-profile{
    width: 2rem;
    height: 2rem;
    margin: 0rem;
    padding: 0rem;
    border-radius: 10rem;
}

.nav-username-span{
    margin: 0rem;
    padding: 0rem;
}

/* Header *//*-------------------------------------------------------*/
header{
    width: fit-content;
    height: fit-content;
    background-color: #f5f5f59f;
    margin-top: 12rem;
    padding: 5rem;
    padding-top: 3rem;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-paragraph{
    font-family: "aviny";
    font-size: 2rem;
}

.lalezar-font{
    font-family: "lalezar";
}

.header-paragraph-decoration{
    text-decoration: underline;
    text-decoration-color: rgb(255, 133, 133);
}

.header-brand-img{
    width: 40rem;
    pointer-events: none;
}


/* Product *//*------------------------------------------------------*/
.product{
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.651);
    margin: 0%;
    padding: 0%;
    padding-bottom: 1.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
    backdrop-filter: blur(0.7rem);
    transition: 300ms;

    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    /* position: fixed; */
}
.product:hover{
    scale: 1.04;
    box-shadow: 0rem 0rem 0.5rem 0rem #ffffffb9;
}

.product-img-div{
    width: 15rem;
    height: 17rem;
    background-color: #000000;
    margin: 0%;
    padding: 0%;
    box-shadow: 0rem 0.5rem 1rem 0rem #ffffff;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-img{
    width: inherit;
    height: auto;
    pointer-events: none;
}

.product-title{
    font-family: "sf-arabic-medium";
    margin: 1rem 0rem;
    margin-bottom: 0.5rem;
}

.product-price{
    font-family: "sf-arabic-regular";
    margin: 1rem 0rem;
}

.add-to-card-button{
    font-family: "graphik-arabic-light";
    font-weight: 600;
    background-color: #cdffd1;
    color: #008011;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-sizing: content-box;
    /* border-bottom: 0.2rem solid #008006; */
    box-shadow: 0rem 0.2rem 0rem 0rem #008000;
    transition: 200ms;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.add-to-card-button:hover{
    scale: 1.04;
    box-shadow: 0rem 0.15rem 0.5rem 0.00001rem #008006;
    /* background-color: #fff; */
    /* border-bottom: 0.2rem solid #85c288; */
    /* border: none; */
}

.plus-sign{
    font-size: 1.2rem;
    margin: -1rem 0rem;
    margin-left: 0.2rem;
}



/* Main *//*-------------------------------------------------------------------------------------*/
/* Hottest-Product Section *//*--------------------------------------*/
.hottest-products{
    background-color: #ff0000;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hottest-products-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-brand-img{
    width: 5rem;
    margin-right: 0.2rem;
    pointer-events: none;
}

.hottest-products-div{
    background-color: #000000;
    overflow: hidden;
    width: 88rem;
    height: 23rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    position: relative;
}

.product-in-hottest-products-section{
    position: absolute;
    box-shadow: 0rem 0.7rem 0rem 0rem #ff0000ce;
    display: flex;
    position: absolute;
    scale: 0.8;
    transition: 300ms;
    z-index: 1;
    /* box-shadow: 0rem 0rem 0.5rem 0rem #ff0000b9; */
}
.product-in-hottest-products-section:hover{
    scale: 0.85;
    box-shadow: 0rem 0rem 1rem 0rem #ff000050, inset 0rem -0.5rem 1rem 0rem #ff000050;
    .product-img-div{
    box-shadow: 0rem 0.5rem 1rem 0rem #ff8383;
    }
}

.product-in-hottest-products-section .product-img-div{
    transition: 200ms;
}


#hottest-product-1{
    left: 73rem;
}

#hottest-product-2{
    left: 59rem;
}

#hottest-product-3{
    left: 45rem;
}

#hottest-product-4{
    left: 31rem;
}

#hottest-product-5{
    left: 17rem;
}

#hottest-product-6{
    left: 3rem;
}

#hottest-product-7{
    left: -11rem;
}

#hottest-product-8{
    left: -25rem;
}

#hottest-product-9{
    left: -39rem;
}

#hottest-product-10{
    left: -53rem;
}

.hottest-products-scroll{
    background-color: #fff;
    color: #000000;
    border: none;
    box-shadow: 0rem 0rem 0.3rem 0.05rem #000000;
    transition: scale 200ms;

    position: absolute;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    border-radius: 20rem;
}
.hottest-products-scroll:hover{
    scale: 1.05;
}

.hottest-products-scroll-right{
    right: 0.7rem;
    /* transform: translate(-100%, 0%); */
}

.hottest-products-scroll-left{
    left: 0.7rem;
}











.one{
    /* background-color: #ff0000; */
    width: 100vw;
    height: 1000px;
}

.test{
    background-color: #130010;
    width: 0px;
    height: 1000px;
}

