@font-face {
    font-family: "sf-arabic-bold";
    src: url("../assets/fonts/SFArabic-Bold.ttf");
}

@font-face {
    font-family: "sf-arabic-regular";
    src: url("../assets/fonts/SFArabic-Regular.ttf");
}

@font-face {
    font-family: "sf-arabic-medium";
    src: url("../assets/fonts/SFArabic-Medium.ttf");
}

@font-face {
    font-family: "graphik-arabic-light";
    src: url("../assets/fonts/Graphik-Arabic-Light.otf");
}

@font-face {
    font-family: "graphik-arabic-medium";
    src: url("../assets/fonts/Graphik-Arabic-Medium.otf");
}

@font-face {
    font-family: "aviny";
    src: url("../assets/fonts/AVINY2-1.TTF");
}

@font-face {
    font-family: "lalezar";
    src: url("../assets/fonts/LALEZAR-REGULAR.TTF");
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    /* width: 100vw; */
    /* margin: 0%; */
    /* background-color: #b700ff; */
    background-image: url("../assets/images/background.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-size: 100vw;

    /* display: grid;
    grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Navigation bar *//*-----------------------------------------------*/
nav{
    background-color: #ffffffda;
    width: 98%;
    height: fit-content;
    margin: 0%;
    margin-top: 0.5rem;
    padding: 0%;
    box-shadow: 0px 0rem 2rem 0px rgb(255, 255, 255);
    backdrop-filter: blur(0.5rem);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: end;

    position: fixed;
    top: 0.3rem;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 0%);
}

.nav-top{
    width: 100%;
    margin-right: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    width: 11rem;
    object-fit: contain;
}

.search-input-section{
    width: fit-content;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.relative-search-input-div{
    width: fit-content;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    position: relative;
}

.search-input{
    direction: rtl;
    font-family: "sf-arabic-bold";
    background-color: #ffffff91;
    color: #000000;
    width: 20rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    margin-left: 2rem;
    box-shadow: 0px 0px 1rem 0rem #ffffff88;
    transition-property: all, scale; /* 50ms; */
    transition-delay: 50ms, 400ms;
    
    /* border: 4px solid black; */
}

.search-input:focus{
    background-color: #ffffffb6;
    border: 0.19rem solid black;
    box-shadow: 0rem 0.1rem 1rem 0rem #ffffff;
}

.search-input:not(:placeholder-shown){
    border: 0.2rem solid black;
}

.search-input-label{
    color: #75757585;
    font-family: "sf-arabic-bold";
    font-size: 0.85rem;
    position: absolute;
    left: 17rem;
    top: 0.5rem;
    margin: 0%;
    padding: 0%;
    pointer-events: none;
    transition: 400ms;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.search-input:focus ~ .search-input-label,
.search-input:not(:placeholder-shown) ~ .search-input-label{
    left: 17rem;
    top: -1.0rem;
    color: #000000;
    filter: drop-shadow(0rem 0rem 2rem rgb(255, 255, 255));
    background-color: #ffffff;
    padding: 0rem 0.2rem 0.2rem 0.3rem;
    border-radius: 1rem;
    border: 0.2rem solid black;
    scale: 0.85;
    .search-icon-image{
        opacity: 2;
    }
    
}

.to-show{
    display: none;
}

.search-icon-image{
    height: 1rem;
    width: auto;
    opacity: 0.35;
    display: inline;
}

.brand-search-icon-image{
    display: none;
    width: 4rem;
}

.nav-bottom{
    height: fit-content;
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.nav-services{
    margin: 0rem 1rem 0rem 0rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.nav-buttons{
    font-family: "sf-arabic-regular";
    font-size: 1rem;
    /* font-weight: 600; */
    background-color: #ffffff00;
    color: #000000;
    text-decoration: none;
    border: none;
    /* margin: 0px 0.5rem; */
    padding: 0.3rem;
    border-radius: 0.75rem;
    box-shadow: 0px 0rem 0.3rem -10px black;
    transition: 200ms;
    transition: "padding" 1000ms;
    /* pointer-events: none; */
}

.three-line-icon{
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 0.3rem;
}

.categories-menu-button{
    font-family: "sf-arabic-bold";
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-buttons:hover{
    /* font-family: "sf-arabic-Medium"; */
    font-weight: 400;
    scale: 1.1;
    background-color: #ffffff8c;
    box-shadow: 0px 0.15rem 0.3rem -3px black;
    margin: 0rem 0rem;
}

.small-vertical-nav-buttons-line{
    background-color: #ff0000;
    height: 1.4rem;
    width: 0.10rem;
    margin: 0%;
    padding: 0%;
}

.account-section{
    margin: 0%;
    margin-left: 2rem;
    padding: 0%;
}

.nav-user-account-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-user-profile{
    width: 2rem;
    height: 2rem;
    margin: 0rem;
    padding: 0rem;
    border-radius: 10rem;
}

.nav-username-span{
    margin: 0rem;
    padding: 0rem;
}

.mobile-nav{
    width: 100%;
    padding: 0rem 1%;

    display: none;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

@media (max-width: 768px) {

    header{
        margin-top: 5rem;
    }

    nav{
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-top{
        display: none;
    }

    .nav-bottom{
        display: none;
    }

    .mobile-nav{
        display: flex;
    }

    .categories-menu-button{
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .categories-menu-button:hover{
        padding-right: 10px;
        margin-right: 10px;
    }

    .account-section{
    margin: 0%;
    margin-left: 1rem;
    padding: 0%;
    }
    
    .nav-services-links{
        display: none;
    }

    .to-hide{
        display: none;
    }

    .to-show{
        display: flex;
        flex-direction: row;
    }

    .small-vertical-nav-buttons-line{
        display: none;
    }

    .search-input-section{
        width: 100%;
    }

    .relative-search-input-div{
        width: 100%;
    }

    .search-input{
        background-color: #ffffffa6;
        margin-left: 0rem;
        width: 100%;
        height: 2rem;
    }

    .search-input-label{
        width: 8.5rem;
        display: flex;
        flex-direction: row-reverse;
        left: 50%;
        transform: translate(-50%);
    }

    .search-input-label span{
        width: 7rem;
        display: inline;
    }

    .search-input:focus ~ .search-input-label,
    .search-input:not(:placeholder-shown) ~ .search-input-label{
        
        width: 8.5rem;
        top: -0.85rem;
        scale: 0.65;
        left: 100%;
        transform: translate(-130%);
        
    }

    .search-input:not(:placeholder-shown){
        border: 0.2rem solid black;
        height: 1.6rem;
    }

}

/* Header *//*-------------------------------------------------------*/
header{
    width: 40%;
    height: fit-content;
    /* background-color: #f5f5f59f; */
    margin-top: 12rem;
    padding: 5rem 2rem;
    padding-top: 3rem;
    border-radius: 2rem;
    box-shadow: 0rem 0.3rem 0.5rem 0rem #0000002c;
    backdrop-filter: blur(1rem);
    transform: skew(0deg, 0deg);
    animation: header-animation 5s infinite;
    background: radial-gradient(at 90% 85%, #ffffffe7, #ffffff00),
                radial-gradient(at 0% 0%, #ffffffe7, #ffffff00);
    /* background: radial-gradient(at 90% 85%, #ffffff, #ffffff00); */
    transform: scale(100%, 100%);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


@keyframes header-animation {
    0% {
        backdrop-filter: blur(8px);
        transform: skew(0deg, 0deg) scale(1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    33% {
        backdrop-filter: blur(12px);
        transform: skew(3deg, 3deg) scale(1.1);
        box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.15);
    }
    66% {
        backdrop-filter: blur(12px);
        transform: skew(-3deg, -3deg) scale(1.05);
        box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.15);
    }
    100% {
        backdrop-filter: blur(8px);
        transform: skew(0deg, 0deg) scale(1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
}



header div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-paragraph{
    direction: rtl;
    font-family: "aviny";
    font-size: 2vw;
}

.lalezar-font{
    font-family: "lalezar";
}

.header-paragraph-decoration{
    text-decoration: underline;
    text-decoration-color: rgb(255, 133, 133);
}

.header-brand-img{
    width: 80%;
    pointer-events: none;
    animation: image-animation 5s infinite;
}
@keyframes image-animation {
    0% {scale: 1;}
    50% {scale: 1.1;}
    100% {scale: 1;}
}


@media (max-width: 768px) {

    header{
        margin-top: 8rem;
    }

    nav{
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-top{
        display: none;
    }

    .nav-bottom{
        display: none;
    }

    .mobile-nav{
        display: flex;
    }

    .categories-menu-button{
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .categories-menu-button:hover{
        padding-right: 10px;
        margin-right: 10px;
    }

    .account-section{
    margin: 0%;
    margin-left: 1rem;
    padding: 0%;
    }
    
    .nav-services-links{
        display: none;
    }

    .to-hide{
        display: none;
    }

    .to-show{
        display: flex;
        flex-direction: row;
    }

    .small-vertical-nav-buttons-line{
        display: none;
    }

    .search-input-section{
        width: 100%;
    }

    .relative-search-input-div{
        width: 100%;
    }

    .search-input{
        background-color: #ffffffa6;
        margin-left: 0rem;
        width: 100%;
        height: 2rem;
    }

    .search-input-label{
        width: 8.5rem;
        display: flex;
        flex-direction: row-reverse;
        left: 50%;
        transform: translate(-50%);
    }

    .search-input-label span{
        width: 7rem;
        display: inline;
    }

    .search-input:focus ~ .search-input-label,
    .search-input:not(:placeholder-shown) ~ .search-input-label{
        
        width: 8.5rem;
        top: -0.85rem;
        scale: 0.65;
        left: 100%;
        transform: translate(-130%);
        
    }

    .search-input:not(:placeholder-shown){
        border: 0.2rem solid black;
        height: 1.6rem;
    }

}


/* Product *//*------------------------------------------------------*/
.product{
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.651);
    margin: 0%;
    padding: 0%;
    padding-bottom: 1.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
    backdrop-filter: blur(0.7rem);
    transition: 300ms;

    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
}
.product:hover{
    scale: 1.04;
    box-shadow: 0rem 0rem 0.5rem 0rem #ffffffb9;
}

.product-img-div{
    width: 15rem;
    height: 17rem;
    background-color: #000000;
    margin: 0%;
    padding: 0%;
    box-shadow: 0rem 0.5rem 1rem 0rem #ffffff;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-img{
    width: inherit;
    height: auto;
    pointer-events: none;
}

.product-title{
    font-family: "sf-arabic-medium";
    margin: 1rem 0rem;
    margin-bottom: 0.5rem;
}

.product-price{
    font-family: "sf-arabic-regular";
    margin: 1rem 0rem;
}

.add-to-card-button{
    font-family: "graphik-arabic-light";
    font-weight: 600;
    background-color: #cdffd1;
    color: #008011;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-sizing: content-box;
    /* border-bottom: 0.2rem solid #008006; */
    box-shadow: 0rem 0.2rem 0rem 0rem #008000;
    transition: 200ms;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.add-to-card-button:hover{
    scale: 1.04;
    box-shadow: 0rem 0.15rem 0.5rem 0.00001rem #008006;
}

.plus-sign{
    font-size: 1.2rem;
    margin: -1rem 0rem;
    margin-left: 0.2rem;
}


/* Main *//*-------------------------------------------------------------------------------------*/
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
/* Hottest-Products Section *//*--------------------------------------*/
.hottest-products{
    background-color: #ffffffa4;
    max-width: 2277px;
    width: 90%;
    height: fit-content;
    margin-top: 5rem;
    /* padding: 3rem; */
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(0.5rem);
    /* box-shadow: inset 0rem 0rem 3rem 0rem #000000, 0rem 0rem 1rem 0.2rem #ffe600, 0rem 0rem 0rem 0.2rem #ffe600; */
    animation: yellow-orange-neon 3s infinite;
    transition: 300ms;

    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes yellow-orange-neon {
    0%{box-shadow: inset 0rem 0rem 3rem 0rem #000000, 0rem 0rem 1rem 0.2rem #ff0000,  0rem 0rem 0rem 0.2rem #ff0000;}
    50%{box-shadow: inset 0rem 0rem 3rem 0rem #000000, 0rem 0rem 1rem 0.2rem #ff9100,  0rem 0rem 0rem 0.2rem #ff9100;}
    100%{box-shadow: inset 0rem 0rem 3rem 0rem #000000, 0rem 0rem 1rem 0.2rem #ff0000,  0rem 0rem 0rem 0.2rem #ff0000;}
}

.hottest-products:hover{
    scale: 1.01;
}

.hottest-products-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-brand-img{
    width: 5rem;
    margin-right: 0.2rem;
    pointer-events: none;
}

.hottest-products-div{
    background-color: #999999;
    overflow: hidden;
    overflow-x: auto;
    max-width: 2000px;
    width: 88%;
    height: 25rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem 0rem #000000;
    backdrop-filter: blur(0.4rem);

    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    position: relative;
}
.hottest-products-div-1{
    height: 53rem;
}

.products-holder-for-scroll{
    /* background-color: #1eff00; */
    /* width: fit-content; */
    height: fit-content;
    display: flex;
    /* display: none; */
    flex-direction: row;
    position: absolute;
    right: 0rem;
    transition: 200ms;
}

.num-1{
    top: 0rem;
}

.num-2{
    top: 25rem;
}

.product-in-hottest-products-section{
    box-shadow: 0rem 0.7rem 0rem 0rem #ff0000ce;
    margin: 0rem -1rem;
    display: flex;
    scale: 0.8;
    transition: 300ms;
    z-index: 1;
    /* box-shadow: 0rem 0rem 0.5rem 0rem #ff0000b9; */
}
.product-in-hottest-products-section:hover{
    scale: 0.85;
    box-shadow: 0rem 0rem 1rem 0rem #ff000050, inset 0rem -0.5rem 1rem 0rem #ff000050;
    .product-img-div{
    box-shadow: 0rem 0.5rem 1rem 0rem #ff8383;
    }
}

.product-in-hottest-products-section .product-img-div{
    transition: 200ms;
}


.hottest-products-scroll{
    background-color: #fff;
    color: #000000;
    border: none;
    box-shadow: 0rem 0rem 0.3rem 0.05rem #000000;
    transition: scale 200ms;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    border-radius: 20rem;
}
.hottest-products-scroll:hover{
    scale: 1.05;
}

.hottest-products-scroll-right{
    /* display: none; */
    right: 0.7rem;
    /* transform: translate(-100%, 0%); */
}

.hottest-products-scroll-left{
    left: 0.7rem;
}

.see-more-button-hottest-products{
    background-color: #8a8a8ab9;
    border: 2px dashed #444444;
    margin-top: 1.5rem;
    z-index: 10; 
    transition: 150ms;
}
.see-more-button-hottest-products:hover{
    margin-top: 1.5rem;
    box-shadow: 0px 0.15rem 0.5rem 0px rgba(0, 0, 0, 0.658);
}


/* Suggestions of Platforms *//*-----------------------------------*/
.suggestions{
    max-width: 2000px;
    width: 95%;
    background-color: #f8f8f88a;
    border-radius: 1rem;
    backdrop-filter: blur(0.3rem);
    box-shadow: 0rem 0rem 2rem 0.5rem #ffffff, 0rem 0rem 0rem 0.2rem #ffffff;
    transition: 500ms;

    /* overflow: hidden; */
    
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
}
.suggestions:hover{
    scale: 1.01;
}

.service-name-header{
    margin-right: 1rem;
    padding: 0.7rem;
    font-size: 3rem;
    z-index: 1;
}

.suggestions-section-content{
    overflow: visible;
    width: 100%;
    /* background-color: #97979700; */
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    /* backdrop-filter: blur(0.7rem); */
    /* box-shadow: 0rem 0rem 2rem 0.5rem #ffffff; */

    display: flex;
    flex-direction: column;
    align-items: end;
    /* gap: 1rem; */
}

.suggestions-section-content-top{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.suggestion-header{
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.see-all-button{
    font-size: 1rem;
    margin: 1rem 0rem 0rem 1rem;
}
.see-all-button:hover{
    scale: 1;
    color: #0081cc;
    text-decoration: underline;
    margin: 1rem 0rem 0rem 1rem;
}

.suggestions-section{
    /* overflow: visible; */
    width: 100%;
    scale: 0.98;
    background-color: #ffffff33;
    box-shadow: 0rem 0.1rem 0.5rem 0rem #5a5a5a21;
    backdrop-filter: none;
    overflow-x: auto ;
    
    padding: 3rem 0rem;
    gap: 1rem;
    /* width: fit-content; */
    /* height: fit-content; */
}

.gap{
    /* left: 0rem; */
    background-color: #00000000;
    padding: 1rem;
    padding-right: 0.5rem;
    gap: 1rem;
}

.suggestions-product{
    /* display: none; */
    /* opacity: 0; */
    display: flex;
    background-color: #ffffff23;
    backdrop-filter: blur(0.5rem);
    box-shadow: 0rem 0.4rem 0.5rem 0.1rem #00000069, inset 0rem 0rem 0.5rem 0rem #00000034;
}
.suggestions-product:hover{
    box-shadow: 0rem 0.2rem 0.7rem 0.1rem #00000069;
}

.graphik-arabic-medium-font{
    font-family: "graphik-arabic-medium";
}


.suggestions-product .product-img-div{
    box-shadow: 0rem 0.1rem 1rem 0rem #00000046;
}

/* Footer */
footer{
    background-color: #38383838;
    width: 100%;
    margin: 40px;
    margin-top: 8rem;
    box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
    
    backdrop-filter: blur(2rem);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

footer h2{
    color: #fff;
    font-family: "lalezar";
    font-size: 45px;
    filter: drop-shadow(0rem 5px 0rem black);
    margin: 20px 0px;
}

footer a{
    color: #fff;
    margin: 0px 10px;
    padding: 0px;
    text-decoration: none;
    font-family: "aviny";
    font-size: 30px;
}
.green{
    color: rgb(110, 248, 30);
}
.purple{
    color: rgb(187, 18, 253);
}
.blue{
    color: rgb(57, 199, 255);
}

footer a:hover{
    filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
}
.green:hover{
    filter: drop-shadow(0px 0px 20px rgb(110, 248, 30));
}
.purple:hover{
    filter: drop-shadow(0px 0px 20px rgb(187, 18, 253));
}
.blue:hover{
    filter: drop-shadow(0px 0px 20px rgb(57, 199, 255));
}








.one{
    /* background-color: #ff0000; */
    width: 100vw;
    height: 1000px;
}

.test{
    background-color: #130010;
    width: 0px;
    height: 1000px;
}

